*{
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
}

#display-books{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table{
    flex: 1;
}

tbody{
    text-align: center;
}

button{
    width: 100px;
}

#add-btn{
    align-self: center;
}

#dialog-form{
    position: absolute;
    top: 40%;
    left: 40%;
    width: 400px;
    height: 200px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#btn-div{
    display: flex;
    align-items: flex-end;
}

.input-divs{
    display: flex;
}

#input-fields{
    flex: 1;
}

input, label, #btn-div button{
    flex: 1;
}

.read{
    background-color: green;
}

.not-read{
    background-color: orange;
}

#delete{
    background-color: red;
}